.App {
  text-align: center;
  background-color: #800020;
}

img {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.MovieBucket{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

.Movie{
  position: relative;
  display: inline-block;
  width: 200px;
  /* border: 5px solid gray; */
  margin: auto;
}

.Movie h4 {
  display: none;
  color: burlywood;
  font-size: 18pt;
}
.Movie:hover h4 {
  display: contents;
}

.textContainer {
  position: absolute;
  z-index: 999;
  margin: 50% auto;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.imageContainer{
  object-fit: scale-down;
  height: 100%;
  width: 100%;
text-align: center;
   z-index: 999;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: yellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
